[gerrit]
	basePath = git
	canonicalWebUrl = http://172.17.10.16:8888/
[database]
	type = h2
	database = db/ReviewDB
[auth]
	type = LDAP
	gitBasicAuth = true
[ldap]
  server = ldap://ldap.topvision.cn:8104

  accountBase = ou=users,dc=topvision,dc=com
  accountPattern = (&(objectClass=inetOrgPerson)(cn=${username}))
  accountSshUserName = cn
  accountFullName = sn
  accountEmailAddress = mail

  groupBase = ou=groups,dc=topvision,dc=com
  groupMemberPattern = (&(objectClass=groupOfUniqueNames)(member=${cn}))

[sendemail]
	smtpServer = 192.168.1.11
	smtpUser = jira

[user]
  name = jira
  email = jira@dvt.dvt.com

[container]
	user = Administrator
	javaHome = C:\\Program Files\\Java\\jdk1.7.0_79
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8888/
[cache]
	directory = cache
[hooks]
	changeMergedHook = change-merged.bat
	refUpdatedHook = ref-updated.bat
	commentAddedHook = comment-added.exe
	patchsetCreatedHook = patchset-created.exe

[commentlink "changeid"]
  match = (I[0-9a-f]{8,40})
  link = "#q,$1,n,z"

[commentlink "jira"]
  match = (OLT-[0-9]+)
  link = http://jira.topvision.cn:8100/browse/$1

[commentlink "jira-ccmts"]
  match = (CCMTS-[0-9]+)
  link = http://jira.topvision.cn:8100/browse/$1
[index]
	type = LUCENE
