[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = true
	requireChangeId = false
[submit]
	mergeContent = false
	action = fast forward only
[capability]
	administrateServer = group Administrators
	priority = batch group Non-Interactive Users
	streamEvents = group Non-Interactive Users
[access "refs/*"]
	read = group Administrators
[access "refs/for/refs/*"]
	push = group Administrators
	pushMerge = group Administrators
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	create = group cmo
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	forgeCommitter = group cmo
	push = group Administrators
	push = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -1..+2 group wuhan1-mng
	label-Code-Review = -1..+1 group Registered Users
	submit = group Administrators
	submit = group Project Owners
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
	editTopicName = group Registered Users
	forgeAuthor = group Administrators
	forgeAuthor = group cmo
	forgeServerAsCommitter = group Administrators
	forgeServerAsCommitter = group cmo
	read = group cmo
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Administrators
	read = group Project Owners
	push = group Administrators
	push = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	submit = group Administrators
	submit = group Project Owners
[access "refs/tags/*"]
	pushTag = group Administrators
	pushTag = group Project Owners
	pushTag = group cmo
	pushSignedTag = group Administrators
	pushSignedTag = group Project Owners
	pushSignedTag = group cmo
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	value = -1 兄弟，你这个不能提交!
	value =  0 随便!
	value = +1 我觉得还好, 请高手再看看吧!
	value = +2 我认为行，提交吧!
